<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
</head>
<body>
    <div align="center">
        <form action="/vehicle/insert" method="post" enctype="multipart/form-data">
            <!-- <input type="number" name="_id" id="_id" placeholder="ID"> <br> <br> -->
            <input type="text" name="vehicle_brand" id="vehicle_brand" placeholder="Brand"> <br><br>
            <select name="category_id" id="category_id" >
                    <% data.forEach(item => { %>
                        <option value="<%= item.c_id %>"><%= item.category_name %></option>
                    <% }) %>
            </select> <br><br>
            <input type="file"value="UPLOAD" name="vehicle_pic" id="vehicle_pic" placeholder="Vehicle Image"> <br><br>
            <input type="number" name="price" id="price" placeholder="Price"> <br><br>
            <input type="number" name="depreciation" id="depreciation" placeholder="Depreciation"> <br><br>
            <input type="number" name="no_of_years" id="no_of_years" placeholder="Number of Years"> <br><br>
            <input type="number" name="total_price" id="total_price" placeholder="Total Price"> <br><br>
            <input type="submit" value="submit"> <br>
        </form>
    </div>

    <div align="center">
        <form action="/vehicle/">
            <br> <br>
            <input type="submit" value="View Data">
        </form>
    </div>
</body>
</html>